<%= simple_form_for(@workfile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date %>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th>Ordernumber</th>
        <th>Description</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :records do |builder| %>
        <%= render 'record', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit %>

  </div>
<% end %>
