%tr
  %td
    = f.input_field :_destroy, as: :hidden
    = link_to 'Delete', '#', class: 'remove_record'
  %td= f.input :ordernumber, label: false
  %td= f.input :description, label: false
  %td= f.input :date, label: false, as: :date
  %td= f.input :begin_time, label: false, as: :time
  %td= f.input :end_time, label: false, as: :time
